.about-section{
    width: 80%;
    margin: 1.5rem auto;
    text-align: center;
}
.icon{
    width: 60px;
    height: 60px;
    opacity: 0.3;
    z-index: 10;
}
.body{
    margin-top: -4.8rem;
    padding: 2rem 2rem 0 2rem;
}
